@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Qahiri&display=swap');

body{
    background-color: bisque;
    color: brown;
    font-family: 'Lobster', cursive;

}
ul{
    list-style-type: '💕';
}
.watched

{

text-decoration: line-through;

}
h1
{
    text-align: center;
}